@import url("https://fonts.googleapis.com/css?family=Inter");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  /*font-family: 'Inter';*/
  margin: 0;
  background-color: #323a45;
  height: 100vh;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  margin-bottom: 0;
}

hr {
  margin: 0.5rem 0;
}

.text-muted-dark {
  color: #9ca3af;
}

.btn:hover {
  color: #ffffff;
}

.btn.active {
  background-color: orangered;
  color: #ffffff;
  border: none;
}

.menuItem {
  background-color: #323a45;
  border-radius: 20px;
  padding: 5px 10px;
  color: #9ca3af;
  margin-right: 5px;
}

.menuItems span:last-child {
  margin-right: 0;
}

.mat {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #212529;
  border-radius: 12px;
  padding: 1.5rem;
}

.orderHeader {
  color: #ffffff;
}

.orderTitles {
  color: #ffffff;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}

.orderFooter {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.orderItems {
  overflow-y: auto;
  margin: 0 0 0.5rem 0;
}

.item {
  background-color: #323a45;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 4px;

  /* border-bottom: 1px solid rgba(255, 255, 255, 0.125); */
  /* padding-bottom: 0.5rem; */
  font-size: 13px;
  color: #9ca3af;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemQty {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
}

.orderBtn {
  width: 100%;
  margin-top: auto;
}

.editItemBtn {
  color: #9ca3af;
  background-color: #2125293d;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.angry-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 100%;
  overflow-y: auto;
  grid-gap: 1%;
  /* justify-content: space-between; */
}

.angry-grid > div {
  width: 24%;
  height: 20%;
  background-color: #323a45;
  color: #9ca3af;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 13px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.foodItem span {
  color: #ffffff;
}

.foodItem:hover {
  background-color: #9ca3af;
  color: #323a45;
  /* font-weight: 600; */
  cursor: pointer;
}

.foodItem:hover span {
  color: #323a45;
}

.amountDisplay {
  background-color: orangered;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  bottom: -10px;
  right: -10px;
}

.h-5 {
  height: 5%;
}

.h-10 {
  height: 10%;
}

.h-15 {
  height: 15%;
}

.mh-75 {
  max-height: 75%;
}

.mh-80 {
  max-height: 80%;
}

.h-90 {
  height: 90%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #9ca3af #212529;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #212529;
}

*::-webkit-scrollbar-thumb {
  background-color: #9ca3af4d;
  opacity: 0.5;
  border-radius: 10px;
  border: 3px solid #212529;
}

@media (min-width: 768px) and (max-width: 1296px) {
  .menuContainer {
    width: 60%;
  }
  .orderContainer {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .createOrderContainer {
    flex-direction: column;
  }
  .menuContainer {
    width: 100%;
  }
  .orderContainer {
    width: 100%;
  }
}

@media (min-width: 1296px) {
  .angry-grid > div {
    width: 19%;
  }
}
